<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
  <li>
    <%=  link_to post.title, post, class:"link" %>
    <% if user_signed_in? %>
    by <%= post.user.username %>
    <% end %>
    <span class="post-date">
      <%= post.created_at.to_date %>
    </span>
  </li>
  <% end %>
</ul>

<%= link_to 'New Post', new_post_path, class: "plain-link new-link" %>